<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin console</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="shortcut icon" href="#">
    <link rel=Stylesheet type="text/css" href="style2.css">

</head>

<body>
    <div class=container>
        <div class=ticket>
            <div class=paragraph>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sapiente eius quisquam explicabo
                beatae
                expedita mollitia eveniet animi consequatur vitae!
            </div>
            <div class=buttons>
                <button>Accept</button>
                <button id="reject">Reject</button>
            </div>
        </div>
    </div>

    <script src="./Adminscripts.js" defer></script>
</body>

</html>