
body{
<<<<<<< HEAD
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    font-size: 1em;
}

.container{
  display: flexbox;
  margin: .5em;
  padding: .6em;

}

button {
  margin-top: .5em;
    border: 0px;
    font-size: .9em;
    background-color: #0075ff;
    box-shadow: 1px 1px 7px 1px black;
    color: white;
    width: auto;
    height: 35px;
    border-radius: 1px;
    box-shadow: 8px 10px 20px 0 rgb(46 61 73 / 15%);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
}
button:hover{
    background-color: #066ee6;
    width: 105 auto;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    cursor:pointer;
}
button:disabled{
  background-color: grey;
}

div{
  margin-bottom: 1em;
}
label::before{
  content: "";
  border-left: 2px solid #0075ff;
  margin-right: .6em;
}

#prec{
  position: relative;
  bottom: -2px;
}

#accept{
background-color: #2e7d32;
}
#accept:hover{
  background-color: #005005;
}
#reject{
  background-color: #c62828;
}
#reject:hover{
  background-color: #8e0000;
}
.page{
display: flex;
flex-direction: row;
}

iframe{
  top: 20%;
  right: 20%;
}


.mw-wiki-logo {
  width: 2em;
  height: 2em;
    background-image: -webkit-linear-gradient(transparent,transparent),url(images/wikiLogo_noText.svg);
    background-image: linear-gradient(transparent,transparent),url(images/wikiLogo_noText.svg);
    background-size: 125px auto;
}

.maker{
  width: 5rem;
  
}
a{
text-decoration: none;
}
.tabs{
  border-bottom: 2px solid #0075ff;
  margin-top: 2em;
  margin-left: 1em;
}
header{
  display: flex;
  flex-direction: row;
}
.printer{
  width: calc(200%/3);
  text-align: center;
}
.container{
  width: calc(100%/3);
}
#printerimg{
  height: 10em;
}

.printer-result{
  display: flex;
  flex-direction: row;
=======
    font-family: 'Georama', sans-serif;
    text: bold
}

div {
   display: inline-block
}

#hr{
    margin-left:-20px; font-size: 14px; 
    user-select: none;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--theme);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--theme);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
} */

.presclid{
  position: relative;
}

#prec::before{
  position:absolute;
  top: 78px;
  content: "Low precesion";
  font-size: 6px;
  height: 10px;
}
#prec::after{
  position:absolute;
  top: 78px;
  left: 80px;
  content: "Low precesion";
  font-size: 6px;
  height: 10px;
>>>>>>> parent of 951b6e9 (styling)
}